.nav-list {
    color: black;
}

.header-image {
    height: 10%;
    width: 10%;
}

header {
    border-color: #4d3e3e;
    border-width: 10px;
    border-style: solid;
    border-radius: 2%;
}

.image-border {
    border-color: #4d3e3e;
    border-width: 5px;
    border-style: solid;
    border-radius: 2%;
}

body {
    background-color: #fff3cd;
}

.back {
    background-color: #4d3e3e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*background-color: #4d3e3e;
*/